.StyledPageComponentsWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 1rem;
  overflow: hidden;
}

.StyledPageWrapper {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
}

.StyledPageHeaderWrapper {
  width: 90%;
  display: flex;
  justify-content: center;
  font-size: 20px;
  padding-bottom: 16px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
}

.Card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background: #ffffff;
  border-radius: 2rem;
  /* box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1); */
  color: #6f6f6f;
  overflow: hidden;
  padding-bottom: 1rem;
}

.UploadedFileCard {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  background: #eef1f7;
  border-radius: 1rem;
  padding: 1.125rem;
}

.CardHeader {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  border-radius: 3rem 3rem 0 0;
  color: transparent;
  background: transparent;
  border-bottom: 1px solid #cbd0dc;
  padding: 1rem;
}

.CardHeaderIconWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #cbd0dc;
  height: 3rem;
  width: 3rem;
  border-radius: 100%;
}

.CardHeaderTextWrapper {
  margin-left: 0.875rem;
  display: flex;
  flex-direction: column;
}

.Text__h5 {
  font-weight: 500;
  font-size: 1.25rem;
}

.Text__h6 {
  font-weight: 500;
  font-size: 0.825rem;
}

.Text__gray900 {
  color: #292d32;
}

.Text__gray500 {
  color: #a9acb4;
}

.Text__gray300 {
  color: #cbd0dc;
}

.TextAlign__center {
  text-align: center;
}

.CardBody {
  width: 100%;
  overflow-y: scroll;
  padding: 1rem 1rem 0rem 1rem;
}

.Icon {
  width: 2rem;
  height: 2rem;
}

.Upload__wrapper {
  width: 100%;
  display: flex;
  margin-top: 1rem;
  flex-direction: column;
  gap: 1rem;
  overflow-y: scroll;
}

.UploadArea {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 250px;
  border: 2px dashed #cbd0dc;
  background: #ffffff;
  border-radius: 1rem;
}

.UploadArea__wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  gap: 1rem;
}

.Button {
  display: flex;
  align-items: center;
  padding: 0.5rem;
  margin: 0;
  cursor: pointer;
  height: 40px;
  border: 1px solid #cbd0dc;
  background: transparent;
  color: #54575c;
  border-radius: 0.5rem;
}

.Button:hover {
  background: #54575c;
  color: #ffffff;
}

@media only screen and (min-width: 768px) {
  .StyledPageComponentsWrapper {
    width: 450px;
    padding: 0;
  }

  .Icon {
    width: 3rem;
    height: 3rem;
  }

  .CardHeaderIconWrapper {
    width: 4rem;
    height: 4rem;
  }

  .Text__h6 {
    font-weight: 500;
    font-size: 1rem;
  }
}

.wrapper {
  position: relative;
  width: 100%;
  margin: 0 auto;
  max-width: 600px;
}
.wrapper video {
  width: 100%;
}
.wrapper svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.wrapper svg text {
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  text-transform: uppercase;
  font-size: 40px;
}
.wrapper svg > rect {
  -webkit-mask: url(#mask);
  mask: url(#mask);
}
.wrapper svg rect {
  fill: #fff;
}
