.StyledPageComponentsWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 0.5rem;
}

.StyledPageWrapper {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
}

.StyledPageHeaderWrapper {
  width: 90%;
  display: flex;
  justify-content: center;
  font-size: 20px;
  padding-bottom: 16px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
}

.StyledCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background: #ffffff;
  border-radius: 2rem;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
  color: #6f6f6f;
}

.CardHeader {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  border-radius: 3rem 3rem 0 0;
  color: transparent;
  background: transparent;
  border-bottom: 1px solid #CBD0DC;
  padding: 1rem;
}

.CardHeaderIconWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #CBD0DC;
  height: 3rem;
  width: 3rem;
  border-radius: 100%;
}

.CardHeaderTextWrapper {
  margin-left: 0.875rem;
  display: flex;
  flex-direction: column;
}

.Text__h5 {
  color: #292D32;
  font-weight: 500;
  font-size: 1.25rem;
}

.Text__h6 {
  color: #A9ACB4;
  font-weight: 500;
  font-size: 1rem;
}

.CardBody {
  width: 100%;
  padding: 1rem;
}

.Icon {
  width: 2rem;
  height: 2rem;
}

.Button {
  padding: 0.6rem;
  margin-left: 0.5rem;
  cursor: pointer;
  height: 48px;
  border: none;
  border-radius: 8px;
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.06),
    0px 0px 0px 1px rgba(60, 66, 87, 0.08),
    0px 2px 5px 0px rgba(60, 66, 87, 0.04);
}
.StyledPrimaryButton {
  color: #f3f1f2;
  background: #1458dd;
  font-weight: bold;
  margin: 0;
  display: flex;
  align-items: center;
}


/* .wrapper {
  position: relative;
  width: 100%;
  margin: 0 auto;
  max-width: 1000px;
}

.wrapper:before {
  left: -9px;
}

.wrapper:before, .wrapper:after {
  content: "";
  position: absolute;
  top: 0;
  width: 10px;
  height: 100%;
  background-color: #fff;
}

.wrapper video {
  width: 100%;
}
.wrapper:after {
  right: -5px;
}

.wrapper svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.wrapper svg > rect {
  -webkit-mask: url(#mask);
  mask: url(#mask);
} */

@media only screen and (min-width: 768px) {
  .StyledPageComponentsWrapper {
    width: 450px;
    padding: 0;
  }

  .Icon {
    width: 4rem;
    height: 4rem;
  }

  .CardHeaderIconWrapper {
    width: 4rem;
    height: 4rem;
  }
}

.wrapper {
  position: relative;
  width: 100%;
  margin: 0 auto;
  max-width: 600px;
}
.wrapper video {
  width: 100%;
}
.wrapper svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.wrapper svg text {
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  text-transform: uppercase;
  font-size: 40px;
}
.wrapper svg > rect {
  -webkit-mask: url(#mask);
  mask: url(#mask);
}
.wrapper svg rect {
  fill: #fff;
}

/* .wrapper:before, .wrapper:after {
  content: "";
  position: absolute;
  top: 0;
  width: 10px;
  height: 100%;
  background-color: #fff;
} */
/* .wrapper:before {
  left: -9px;
}
.wrapper:after {
  right: -5px;
} */
